body {
    background: url('../images/car.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.booking{
    margin-top:120px;
    width:95%;
    height:400px;
}
.container-fluid h1{
    text-align: center;
    font-size: 46px;
    color: #ffffff;
    margin-bottom: 25px;
    margin-top:45px;
    font-weight: bold;
    opacity: 0.8;
}
#registration-number{
    width: 50%;
    height: 40px;
    padding: 5px;
    border:1px solid #bababa;
    border-radius:5px;
}
#date {
    width: 50%;
    height: 40px;
    padding: 5px;
    border:1px solid #bababa;
    border-radius:5px;
}
.first-name,
.last-name,
.email,
.address,
#custom-location {
    width: 50%;
    height: 40px;
    padding: 5px;
    border:1px solid #bababa;
    border-radius:5px;
}
.booking-form .next{
    width: 150px;
    height: 35px;
    background-color: #2e6da4;
    border: 1px solid #2e6da4;
    border-radius: 6px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-left:30px;
}
.car-registration{
    position: relative;
}
.car-registration .reg{
    width:140px;
    position:absolute;
    left:308px;
    border:1px solid #bababa;
    border-radius: 5px;
}
.booking-date{
    display:none;
}
.booking-date .next {
    margin-top: 25px;
}
.booking .booking-form .booking-date .input-group-addon{
    position:relative;
    right:48%;
}
.personal-info {
    display:none;
}
.location-info{
    display: none;
}
.location-info span{
    font-size:18px;
    color: #000000;
    font-weight: bold;
}
.booking-form p{
    color:#ffffff;
    font-size:24px;
    font-weight: bold;
}
.booking-form .person,
.booking-form .company{
    color: #ffffff;
}
.custom-location{
    display:none;
}

/****************** Calendar css ****************/
.calendar{
    margin:0px auto;
    padding:0px;
    width: 602px;
    font-family:Helvetica, "Times New Roman", Times, serif;
    display:none;
}

div.calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:40px;
    background-color:   #787878 ;
}

div.calendar div.header{
    line-height:40px;
    vertical-align:middle;
    position:absolute;
    left:11px;
    top:0px;
    width:582px;
    height:40px;
    text-align:center;
}

div.calendar div.header a.prev-day,div.calendar div.header a.next-day,
div.calendar div.header span.prev-day,div.calendar div.header span.next-day{
    position:absolute;
    top:0px;
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}

div.calendar div.header span.title{
    color:#FFF;
    font-size:18px;
}


div#calendar div.header a.prev-day,
div#calendar div.header span.prev-day{
    left:0px;
}

div.calendar div.header a.next-day,
div.calendar div.header span.next-day{
    right:0px;
}




/*******************************Calendar Content Cells*********************************/
div.calendar div.box-content{
    border:1px solid #787878 ;
    border-top:none;
}



div.calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
}

div.calendar ul.label li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    float:left;
    list-style-type:none;
    width:80px;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#000;
    font-size: 15px;
    background-color: transparent;
}


div.calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}

/** overall width = width+padding-right**/
div.calendar ul.dates li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    margin-top: 5px;
    line-height:80px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:105px;
    height:80px;
    font-size:25px;
    background-color: #DDD;
    color:#000;
    text-align:center;
}

:focus{
    outline:none;
}

div.clear{
    clear:both;
}
div.calendar ul.dates .slot-green {
    background-color: #ffffff;
    color: green;
    cursor: pointer;
}
div.calendar ul.dates .slot-green:hover {
    background-color: green;
    color: #ffffff;
}
div.calendar ul.dates .slot-red {
    background-color: #ffffff;
    color: red;
    /*cursor: pointer;*/
    cursor: not-allowed;
}
div.calendar ul.dates .slot-red:hover{
    background-color: red;
    color: #ffffff;
}
.active{
    display: block;
}
.hidden{
    display:none;
}
.active-inline{
    display:inline-block;
}